matplotlib
sklearn
scipy
pytest               # for unit testing
flake8
bandit               # for security testing
safety               # for security testing
autopep8             # for auto PEP8 formatting
coverage
pandas
requests
flask                # for python wed development
psycopg2             # for sql databse and tables
psycopg2-binary      # for simplified C dependencies
psycopg[dev,test]    # for the base Python package
psycopg_pool         # for the connection pool
psycopg_c            # for the C speedup module